@page
@model ErrorModel
@{
    ViewData["Title"] = S["ErrorTitle"].Value;
}

<h1 class="text-danger">@S["ErrorTitle"]</h1>
<h2 class="text-danger">@S["ErrorHeading"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@S["ErrorRequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@S["ErrorDevModeTitle"]</h3>
<p>
    @S["ErrorDevModeDesc"]
</p>
<p>
    <strong>@S["ErrorDevModeWarning"]</strong>
    @S["ErrorDevModeWarningDesc"]
</p>
